<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Apricot v 1.3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->



    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/loader-style.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/js/progress-bar/number-pb.css">



    <style type="text/css">
    canvas#canvas4 {
        position: relative;
        top: 20px;
    }
    </style>




    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/assets/ico/minus.png">
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- TOP NAVBAR -->
    <nav role="navigation" class="navbar navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="entypo-menu"></span>
                </button>
                <button class="navbar-toggle toggle-menu-mobile toggle-left" type="button">
                    <span class="entypo-list-add"></span>
                </button>




                <div id="logo-mobile" class="visible-xs">
                    <h1>
                        <span>v1.2</span>
                    </h1>
                </div>

            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">

                <ul style="margin-right:0;" class="nav navbar-nav navbar-right">
                    <li>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" class="admin-pic img-circle" src="http://api.randomuser.me/portraits/thumb/men/10.jpg">Hi, Dave Mattew <b class="caret"></b>
                        </a>
                        <ul style="margin-top:14px;" role="menu" class="dropdown-setting dropdown-menu">
                            <li>
                                <a href="#">
                                    <span class="entypo-user"></span>&#160;&#160;My Profile</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="entypo-vcard"></span>&#160;&#160;Account Setting</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="entypo-lifebuoy"></span>&#160;&#160;Help</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/login?message=logout">
                                    <span class="entypo-logout"></span>&#160;&#160;Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- /END OF TOP NAVBAR -->

    <!-- SIDE MENU -->
    <div id="skin-select" style="position: fixed;">
        <div id="logo">
            <h1>Sanda.asia
                <span>v1.0</span>
            </h1>
        </div>

        <a id="toggle">
            <span class="entypo-menu"></span>
        </a>
        <div class="dark">
            <form action="#">
                <span>
                    <input type="text" name="search" value="" class="search rounded id_search" placeholder="Search Menu..." autofocus />
                </span>
            </form>
        </div>

        <div class="search-hover">
            <form id="demo-2">
                <input type="search" placeholder="Search Menu..." class="id_search">
            </form>
        </div>




        <div class="skin-part">
            <div id="tree-wrap">
                <div class="side-bar">

                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="">Quản Lý Kho Hàng</span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" href="/UserPage/Receipt" title="Dashboard">
                                <i class="icon-window"></i>
                                <span>Nhập Kho</span>

                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" href="/UserPage/Issue" title="Dashboard">
                                <i class="icon-window"></i>
                                <span>Xuất Kho</span>

                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="/UserPage" title="Mail">
                                <i class="icon-mail"></i>
                                <span>Kiểm Kho</span>
                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" href="/Admin" title="Icons">
                                <i class="icon-preview"></i>
                                <span>Admin Page</span>
                                <div class="noft-blue" style="display: inline-block; float: none;">New</div>
                            </a>
                        </li>
<!-- 
                        <li>
                            <a class="tooltip-tip" href="#" title="Extra Pages">
                                <i class="icon-document-new"></i>
                                <span>Extra Page</span>
                            </a>
                            <ul>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="blank_page.html" title="Blank Page"><i class="icon-media-record"></i><span>Blank Page</span></a>
                                </li>
                                 <li>
                                    <a class="tooltip-tip2 ajax-load" href="profile.html" title="Profile Page"><i class="icon-user"></i><span>Profile Page</span></a>
                                </li>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="invoice.html" title="Invoice"><i class="entypo-newspaper"></i><span>Invoice</span></a>
                                </li>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="pricing_table.html" title="Pricing Table"><i class="fontawesome-money"></i><span>Pricing Table</span></a>
                                </li>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="time-line.html" title="Time Line"><i class="entypo-clock"></i><span>Time Line</span></a>
                                </li>
                                <li>
                                    <a class="tooltip-tip2" href="404.html" title="404 Error Page"><i class="icon-thumbs-down"></i><span>404 Error Page</span></a>
                                </li>
                                <li>
                                    <a class="tooltip-tip2" href="500.html" title="500 Error Page"><i class="icon-thumbs-down"></i><span>500 Error Page</span></a>
                                </li>
                                <li>
                                    <a class="tooltip-tip2" href="lock-screen.html" title="Lock Screen"><i class="icon-lock"></i><span>Lock Screen</span></a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a class="tooltip-tip " href="login.html" title="login">
                                <i class="icon-download"></i>
                                <span>Login</span>
                            </a>
                        </li> -->

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF SIDE MENU -->



    <!--  PAPER WRAP -->
    <div class="wrap-fluid" style="margin-left: 250px;">
        <div class="container-fluid paper-wrap bevel tlbr">





            <!-- CONTENT -->
            <!--TITLE -->
            <div class="content-wrap">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="nest" id="elementClose">
                            <div class="title-alt">
                                <h6>
                                    Form Customer</h6>
                                <div class="titleClose">
                                    <a class="gone" href="#elementClose">
                                        <span class="entypo-cancel"></span>
                                    </a>
                                </div>
                                <div class="titleToggle">
                                    <a class="nav-toggle-alt" href="#element">
                                        <span class="entypo-up-open"></span>
                                    </a>
                                </div>

                            </div>

                            <div class="body-nest" id="element">
                                <div class="panel-body">
                                    <form th:action="@{/Issue}" th:object="${product}" method="post" class="form-horizontal bucket-form">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Customer</label>
                                            <div class="col-sm-6">

                                                <select name="id">

                                                    <option th:each="customer : ${customers}"
                                                            th:value="${customer.id}"
                                                            th:text="${customer.id} + '-'+ ${customer.customer_name}"/>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Product Name</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="product_name" th:value="${product_name}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">QR Code</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="QR_code" th:value="${QR_code}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">ID Provider</label>
                                            <div class="col-sm-6">
                                                <!--<input type="text" name="id_provider" th:value="${id_provider}" class="form-control round-input">-->
                                                <select name="id_provider">

                                                    <option th:each="provider : ${providers}"
                                                            th:value="${provider.id}"
                                                            th:text="${provider.id} + '-' + ${provider.provider_name}"/>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Amount</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="amount" th:value="${amount}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Price</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="price_issue" th:value="${price_issue}" class="form-control">
                                            </div>
                                            <label>VND</label>
                                        </div>
                                        <div class="form-group" th:if="${#request.getParameter('error') == 'true' && #request.getParameter('message') == '0' }"
                                             style="color:red;margin:10px 0px;">
                                            <div class="alert alert-danger">
                                                <button data-dismiss="alert" class="close" type="button">×</button>
                                                <span class="entypo-attention"></span>
                                                <strong>Oh snap!</strong>&nbsp;&nbsp;Change a few things up and try submitting again.
                                            </div>

                                        </div>
                                        <div class="form-group" th:if="${#request.getParameter('error') == 'true' && #request.getParameter('message') == '1'}"
                                             style="color:red;margin:10px 0px;">
                                            <div class="alert alert-danger">
                                                <button data-dismiss="alert" class="close" type="button">×</button>
                                                <span class="entypo-attention"></span>
                                                <strong>Oh snap!</strong>&nbsp;&nbsp;Change a few things up and try submitting again.
                                            </div>

                                        </div>
                                        <div>
                                            <a href="Insert-Customer" target="_blank">Click to Add new Customers</a>
                                        </div>
                                        <button class="btn btn-success" name="Insert" type="submit">Receipt</button>

                                    </form>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
    <!--  END OF PAPER WRAP -->

    <!-- END OF RIGHT SLIDER CONTENT-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.js"></script>
    <script src="/assets/js/progress-bar/src/jquery.velocity.min.js"></script>



    <!-- MAIN EFFECT -->
    <script type="text/javascript" src="/assets/js/preloader.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <!-- <script type="text/javascript" src="assets/js/load.js"></script> -->
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            var table = $('#example').DataTable();

            $('#example_filter').hide();

            $('#example_length').hide();

            $('#example_info').hide();
            
            $('#myInput').on( 'keyup', function () {
                table.search(this.value).draw();
            } );
        } );
    </script>

</body>

</html>
